@import './../../app/functions';

page-login {
    .vertical-center > * {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
    .horizontal-center {
        width: 100%;
        text-align: center;
    }
    ion-label, ion-input, p {
        font-size: 1.2em;
        color: #fff;
    }
    button{
        @include gradient(color(primary), color(secondary), color(complementary));
    }
}
