<!--
  Generated template for the PlayerBar component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<!--<audio-track #track [track]="playingTrack">
  <ion-thumbnail item-left>
    <img src="{{selectedMedia.art}}">
  </ion-thumbnail>
  <h4>{{selectedMedia.title | title}}</h4>
  <p text-wrap>{{selectedMedia.artist}}</p>

  <button ion-button icon-only clear item-right id="like-button" margin-horizontal (click)="operateSelectedTrack(track.id)">
    <ion-icon name="icon-play" *ngIf="!track.isPlaying"></ion-icon>
    <ion-icon name="icon-pause" *ngIf="track.isPlaying"></ion-icon>
  </button>
</audio-track>-->

<span>This is the Bar</span>