@import './../../app/functions';
@import './../../app/app';

page-home {
        
    ion-header {
        height: 27%;
        position: relative;
        @include gradient(color(primary), color(secondary), color(complementary));
    }
    .logo{
        width: 60%;
        position: absolute;
        left:3%;
        bottom:5%;
    }

    ul {
        @include flexbox_grid(3, 16px);
        list-style: none;

        li {
            margin-bottom: 16px;
        }
    }

   ion-fab {
       ion-icon::before{
        font-size: 25px!important;
       } 
    }

    @media screen and (min-width: 1000px) {
        ul {
            @include flexbox_grid(6, 16px);
        }
        ul li {
            margin-bottom: 16px;
        }
    }
}
