$icomoon-font-path: "./../assets/fonts/Icons" !default;

$icon-cancel: "\e911";
$icon-checked: "\e912";
$icon-back: "\e900";
$icon-forward: "\e901";
$icon-heart: "\e902";
$icon-heart-outline: "\e903";
$icon-login: "\e904";
$icon-logout: "\e905";
$icon-menu: "\e906";
$icon-more: "\e907";
$icon-pause: "\e908";
$icon-play: "\e909";
$icon-search: "\e90a";
$icon-settings: "\e90b";
$icon-share: "\e90c";
$icon-skip-backward: "\e90d";
$icon-skip-forward: "\e90e";
$icon-upload: "\e90f";
$icon-home: "\e910";
$icon-user: "\e971";

