// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";
@import "../app/functions";
@import "icons-variables";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$toolbar-background: transparent;
$font-family-base: "Josefin Sans";
$background-color: #141414;
$label-text-color: #fff;
$toolbar-border-color: transparent;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:      #00ad7c,
  secondary:    #52d681,
  complementary:#b5ff7d,
  dark:         #141414,
  danger:       #ef002f,
  contrast:     #a52a2a,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$font-family-ios-base: "Josefin Sans";
$background-ios-color: #141414;
$label-ios-text-color: #fff;
$item-ios-padding-top: 30px;
$item-ios-padding-left: 0px;
$toolbar-ios-border-color: transparent;
$toolbar-ios-title-font-size: 2.5rem;
$list-ios-background-color: transparent;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$font-family-md-base: "Josefin Sans";
$background-md-color: #141414;
$label-md-text-color: #fff;
$item-md-padding-top: 30px;
$item-md-padding-left: 0px;
$toolbar-md-title-font-size: 2.5rem;
$toolbar-md-border-color: transparent;
$list-md-background-color: transparent;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$font-family-wp-base: "Josefin Sans";
$background-wp-color: #141414;
$label-wp-text-color: #fff;
$item-wp-padding-top: 30px;
$item-wp-padding-left: 0px;
$toolbar-wp-title-font-size: 2.5rem;
$toolbar-wp-border-color: transparent;
$list-wp-background-color: transparent;



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "noto-sans";


