// http://ionicframework.com/docs/v2/theming/
@import 'functions';

@mixin gradient($fColor, $sColor, $tColor) {
  background: #00ad7c !important; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $fColor 0%, $sColor 68%, $tColor 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $fColor 0%,$sColor 68%,$tColor 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $fColor 0%,$sColor 68%,$tColor 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$fColor, endColorstr=$tColor,GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

//align the last row to grid
@mixin flexbox_grid($columns, $gutter_width){
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;

  > *{
    @include flexbox_cell($columns, $gutter_width);
  }
}

// apply to the cell (for ex. a <LI> element)
@mixin flexbox_cell($columns, $gutter_width){
  $base_width: 100 / $columns;
  $gutters: $columns - 1;
  $gutter_offset: $gutter_width * $gutters / $columns;

  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto; // IE10 doesn't support calc() here

  box-sizing:border-box; // freely apply borders/paddings to items
  width: calc( #{$base_width}% - #{$gutter_offset} );

  // remove useless margins (for cascading breakponts)
  &:nth-child(#{$columns}n){
    margin-right: 0;
  }

  // apply margin
  @for $i from 0 through ($gutters){
    @if($i != 0){
      &:nth-child(#{$columns}n+#{$i}){
        margin-right: $gutter_width;
      }
    }
  }
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Josefin-Sans-regular/Josefin-Sans-regular.eot');
  src: url('../assets/fonts/Josefin-Sans-regular/Josefin-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Josefin Sans'),
       local('Josefin-Sans-regular'),
       url('../assets/fonts/Josefin-Sans-regular/Josefin-Sans-regular.woff2') format('woff2'),
       url('../assets/fonts/Josefin-Sans-regular/Josefin-Sans-regular.woff') format('woff'),
       url('../assets/fonts/Josefin-Sans-regular/Josefin-Sans-regular.ttf') format('truetype'),
       url('../assets/fonts/Josefin-Sans-regular/Josefin-Sans-regular.svg#JosefinSans') format('svg');
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.gradient{
     @include gradient(color(primary), color(secondary), color(complementary));
}

ion-title{
    font-family: 'Josefin Sans' !important;
}

ion-content ion-list button {
    font-size: 2.5rem!important;
    color: white!important;
}

//center title
ion-header {
  .button-md {
    box-shadow: none;
  }

  .toolbar-title {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%; //make .toolbar-title in IOS take 100% height
  }

  .toolbar-content-md {
      position: absolute;  // take a flexbox item out of the flow
      width: 100%;         // take all the space, including that of the buttons on the left and right side
      z-index: -1;         // go under the buttons
  }
  .toolbar-md * {
        height: 100%;
  }
}




