@import './../../app/functions';
@import './../../app/app';

page-player {
    .no-scroll .scroll-content{
         overflow: hidden;
    }
    
    .logo{
        display: inline-block;
        height: 70%!important;
    }

    h5, p {
        color: white;
        margin: 8px 0!important;
    }

    #progress-bar-and-buttons{
        padding: 0 16px;
    }

    time{
        color: white;
    }
    .range-md [range-left], .range-ios [range-left] {
        width: 3.3rem;
    }

    .range-bar-active {
        @include gradient(color(primary), color(secondary), color(complementary));
    }

    .icon-large {
        ion-icon::before {
            font-size: 33px!important;
            color: color(secondary);
        }
    }

    .icon-medium {
        ion-icon {
            transform: translateY(-25%);
        }
        ion-icon::before{
            color: color(secondary);
        }
    }    
}
